/* Fonts  */
html, body {
    margin: 1em 2ex 2em;
    padding: 0;
    background-color: #417faf;
    color: #fff;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 10pt;
}

h1 {
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}


/* Layout  */
section.scenario {
    border: 5px solid #89aae6;
    border-radius: 15px;
    display: grid;
    grid-template-areas:
            "A1 A1 A2 A2 A2"
            "A1 A1 A2 A2 A2"
            "A1 A1 A3 A3 A3"
            "A5 A5 A5 A5 A5"
            "A4 A4 A4 A4 A4"
            "A4 A4 A4 A4 A4";
    gap: 3px;
}

section.scenario > * {
    border-radius: 5px;
    padding: 10px;
}

section.results {
    grid-area: A3;
}

section.specification {
    grid-area: A2;
}

section.interestingGivens {
    grid-area: A1;
}

section.interactions {
    grid-area: A4;
}

section.diagram {
    grid-area: A5;

}

svg {
    display:block;
    margin:auto;
}

/* Other  */

div.nohighlight {
    background-color: #417faf;
    border-radius: 3%
}


body {
    position: absolute;
    width: 95%;
}

.highlight {
    background-color: #061826;
    border: none;
    padding: 5px;
}

.highlight .literal {
    color: #89aae6;
}

.highlight .keyword {
    color: #89aae6;
}

.highlight .constant {
    color: #0471a6;
}

.highlight .quote {
    color: #89aae6;
}

.highlight.specification .literal,
.highlight.specification .keyword,
.highlight.specification .constant,
.highlight.specification .quote {
    font-weight: bold;
}

pre.test-not-run, .test-not-run, .interestingGiven {
    background-color: #3685b5;
    border: 2px solid #89aae6;
}

.interestingGiven {
    padding: 0 2px;
}

pre.test-failed, .test-failed {
    background-color: #cd0a0a;
    border: 2px solid #d03a3a;
}

li.test-not-run, li.test-passed {
    border: none;
}

ul.contents a {
    text-transform: capitalize;
}

a, table a {
    color: #fff;
    text-decoration: none;
}

a:hover, table a:hover {
    text-decoration: underline;
}

table {
    background-color: #061826;
    border: 1px solid #0471a6;
    border-collapse: collapse;
    empty-cells: show;
}

th {
    background-color: #061826;
    border: 1px solid #0471a6;
}

td {
    border: 1px solid #0471a6;
}

.scenarios td {
    padding: 0 20px;
    text-align: center;
}

.scenario {
    background-color: #061826;
    border: 10px solid #0471a6;
    padding: 0 10px;
}

.hide {
    display: none;
}

.logKey {
    cursor: pointer;
}

.logKey:hover {
    text-decoration: underline;
}

.interestingGivens th {
    text-align: left;
}

.ui-widget-content {
    background-color: #061826;
    color: #fff;
}

.interestingGivens td {
    text-align: right;
    padding: 0 5px;
    vertical-align: middle;
}
