
@import url("https://fxaeberhard.github.io/handdrawn.css/handdrawn.css");

.hide {
    display: none;
}

.package-name {
    cursor: pointer;
}

.package-name:hover {
    text-decoration: underline;
}

h1 {
    font-size: 4.2rem;
    margin: 2rem 0 0.4rem;
    line-height: 4.2rem;
    text-align: center;
}

a {
    text-transform: capitalize;
}

div.contents {
    padding-left: 30px;
}

.test-failed {
    color:#DA2C43;
    background-color: #BBB477;
}

.test-passed {
    color: #56887D;
}
