# To help compare html output against expected we can prevent IntelliJ from removing the extra whitespaces and causing
#  comparison failures. This way we don't need to strip whitespaces before comparing.
# When pasting a new expected output file from a generated html output file paste the content WITHOUT formatting since
#  formatting rearranges various elements breaking the comparison test.

[SequenceDiagramingExampleTest.html]
ij_html_keep_indents_on_empty_lines = true
ij_html_keep_line_breaks = true
ij_html_keep_whitespaces = true
